button {
    background-color: rgba(68, 114, 196, 0.3);
    font-size: 50px;
    color: white;
    font-weight: 700;
    border: 4px solid;
    border-radius: 20px;
    width: 550px;
    font-family: Huaguang;
    font-weight: 500;
    height: 85px;
}
.submit {
    margin: 30px auto;
    text-align: center;
}
.formlate{
    color: white;
    background-color: rgba(100, 100, 100, 0.4);
    margin: 0 auto;
    width: 840px;
    border-radius: 25px;
}